html{
    font-family: SF Pro;
}
body{
    margin: 0;
}
#main{
    padding: 10px;
}
h1{
    color: white;
    letter-spacing: .06rem;
}
h2{
    color: white;
    letter-spacing: .06rem;
}
h3{
  color: white;
  letter-spacing: .06rem;
}
p{
  color: white;
  letter-spacing: .06rem;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #c01733;
  color: white;
}
.avatar {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#phone-number {
  color: white;
  display: none;
}
  
  @media only screen and (min-width: 768px) {
    #phone-number {
      display: block;
      text-align: center;
  }
}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}