/* custom.css */
.dark-theme {
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
}

/* Default styles for code snippets */
.code-snippet {
    background-color: #333; /* Dark gray background for code snippets */
    color: #ffffff; /* Light text color for code snippets */
    border: 1px solid #555; /* Dark border for code snippets */
    padding: 10px;
    margin-bottom: 20px;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 10px; /* Center the snippets on the page horizontally */
}

/* Apply responsive styles using media queries */
@media (max-width: 768px) {
    /* Adjust code snippet width for screens up to 768px wide */
    .code-snippet {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    /* Adjust code snippet styles for screens up to 480px wide (e.g., mobile devices) */
    .code-snippet {
        padding: 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    /* Center the snippets on the page horizontally for small screens */
    .snippet-container {
        justify-content: center;
    }
}
.top-nav-bar {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: fixed; /* Fixed positioning */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
  }
  
  .top-nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .top-nav-bar a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
  }